.header{
    width: 1440px;
height: 576px;
background: #F0FFF0;
}
.section{
    margin-top: 20px;
}
.paragraph{
    margin-top: 20px;
}
#blog{
padding: 90px;
width: 1440px;
height: 369px;
left: 0px;
top: 2013px;
color: white;
background: #282531;
}
